<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="daviddelgado_googlecoordinates" frontName="daviddelgado_googlecoordinates">
            <module name="DavidDelgado_GoogleCoordinates" />
        </route>
    </router>
</config>
